<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald&display=swap" rel="stylesheet">
    <title>My Portfolio</title>
</head>

<body>
    <header>
        <div class="container">
            <div class="header-left">
                <a href="#"><img src="static/Logo_MK-removebg-preview.png"></a>
            </div>
            <div class="header-right">
                <ul>
                    <li>
                        <a href="#">Home</a>
                    </li>
                    <li>
                        <a href="#section1">Profile</a>
                    </li>
                    <li>
                        <a href="#profile">Project</a>
                    </li>
                    <li>
                        <a href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </header>
    <div class="intro">
        <div class="container">
            <h2>HALLO</h2>
            <h1>I'M NUZULUL</h1>
            <p>I am interested in UI/UX Design and Developing a Website</p>
            <p>between user needs and product capabilities</p>
            <div class="btn-intro">
                <span>Let's Talk</span>
            </div>
            <img src="static/introwork.png">
        </div>
    </div>
    <div class="profile" id="profile">
        <div class="container">
            <div class="contents-profile">
                <img class="pict-profile" src="static/sorek2.JPG">
                <div class="info-cv">
                    <h2>Hi, Nice to meet you.</h2>
                    <p>My name is Nuzulul Qomarudin Al Islami</p>
                    <p>I'm from Pekanbaru, Riau</p>
                    <p>I'm currently focusing on learning fullstack web development</p>
                    <p>If you want to know more about me</p>
                </div>
                <img class="pict-profile" src="static/sorek.JPG">
            </div>
        </div>
    </div>
    <div class="main">
        <div class="container">
            <div class="main-wrapper">
                <h1>SPECIALIZING IN</h1>
                <div class="skills">
                    <div class="skill">
                        <img src="static/mobile.png">
                        <h2>Responsive Design (figma)</h2>
                        <p>My current focus is deepening the creation of mobile applications</p>
                    </div>
                    <div class="skill">
                        <img src="static/frontend.png">
                        <h2>Front End Dev</h2>
                        <p>Thoughtfully designed websites built with performance and best practices in mind.</p>
                    </div>
                    <div class="skill">
                        <img src="static/uiux.png">
                        <h2>UI/UX Designer</h2>
                        <p>I like prototyping, it helps me think through interaction models and new possibilities.</p>
                    </div>
                </div>
            </div>
            <h1 class="section1" id="section1">APA PROJECT YANG TELAH SAYA LAKUKAN?</h1>
            <p class="section2">Ini adalah beberapa project yang telah saya lakukan sebelumnya</p>
            <div class="project-result">
                <div class="detail-mobile">
                    <h1>ModifKita Website (FrontEnd)</h1>
                    <p>
                        This is a project that I have done during the study in college
                        this is just a UI/UX design and has been realized in the mobile and desktop application stage
                        and finishing the job.
                        if you want to know more. You can see the case by clicking the button beside.
                    </p>
                    <div class="btn-mobile">
                        <span>View Case Study</span>
                    </div>
                </div>
                <div class="pict-mobile">
                    <img width="250x" src="/static/modif.png">
                </div>
            </div>

            <div class="project-result">
                <div class="detail-mobile">
                    <h1>Reading Oasis (UI/UX)</h1>
                    <p>
                        This is a project that I have done during the study at StartUp Campus
                        this is just a UI/UX design and has not been realized in the mobile and desktop application
                        stage
                        because our focus is just on UI/UX Design.
                        if you want to know more. You can see the case by clicking the button beside.
                    </p>
                    <div class="btn-mobile">
                        <span>View Case Study</span>
                    </div>
                </div>
                <div class="pict-mobile">
                    <img width="250x" src="/static/readingoasis.png">
                </div>
            </div>

            <div class="project-result">
                <div class="detail-mobile">
                    <h1>Phoodie (UI/UX)</h1>
                    <p>
                        This is a project that I have done during the study at StartUp Campus
                        this is just a UI/UX design and has not been realized in the mobile and desktop application
                        stage
                        because our focus is just on UI/UX Design
                        if you want to know more. You can see the case by clicking the button beside.
                    </p>
                    <div class="btn-mobile">
                        <span>View Case Study</span>
                    </div>
                </div>
                <div class="pict-mobile">
                    <img width="250x" src="/static/phoodie.png">
                </div>
            </div>



            <h1 class="section3">GET IN TOUCH</h1>
            <p class="section4">Interested in working together?</p>
            <p class="section4">Feel free to contact me for any project or colaboration</p>
            <div class="contact" id="contact">
                <div class="gif-img">
                    <img src="static/gifwork.gif">
                </div>
                <div class=inputs>
                    <div class="input-first">
                        <input type="text" placeholder="Name">
                        <input type="text" placeholder="Email">
                    </div>
                    <input class="subject-form" type="text" placeholder="Subject">
                    <textarea placeholder="Message"></textarea>
                    <div class="btn-send">
                        <span>Send</span>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <footer>
        <div class="container">
            <div class="socmed">
                <a href="https://www.linkedin.com/in/alnuzulul/">
                    <img src="static/linkedin.png">
                </a>
                <a href="https://www.instagram.com/">
                    <img src="static/ig.png">
                </a>
                <a href="https://github.com/">
                    <img src="static/github.png">
                </a>
                <a href="https://www.youtube.com/">
                    <img src="static/yt.png">
                </a>
            </div>
            <p>©2023All Right Reserved - By Nuzulul Qomarudin Al Islami</p>
        </div>
    </footer>
</body>

</html>